
/* Credits: https://codepen.io/Souleste/pen/yLYNWag */
.input_invalid {
	border-color: red !important;
}
.invalid_text {
	color: red;
	background: white;
	padding: 0 5px;
	display: block;
	margin: -10px 15px 0 15px;
	width: fit-content;
}

.centered {
  height: 100vh; /* Magic here */
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
